.Rproj.user
.Rhistory
.RData
.Ruserdata

.DS_Store

*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.DS_Store
*.html
*.Rproj
*.numbers
all_year.csv

complete_reference_table_250219.csv
complete_reference_table_250302.csv
pre_cluster_sample0219.csv

double_major.csv
student_summary.csv

.Rproj.user
.obsidian/

Trash/
Result2/
Figure/



